body {
  padding: 0;
  margin: 0;
}

footer {
  bottom: 0;
  font-size: 16px;
}

* {
  box-sizing: border-box;
  border: none;
  outline: none;
}

.container {
  height: 569px;
  display: flex;
}

.t-1{
    display: flex;
}
.t-2{
    display: flex;
}
.t-3{
    display: flex;
    /* padding-left: 129px; */
}

table{
    display: flex;
    flex-direction: column;
    padding-top: 237px;
    padding-left: 296px;
}

th{
    display: flex;
    font-size: 10px;
    color: #5A5A5A;
    padding-bottom: 60px;
    text-transform: uppercase;
}

td{
    display: flex;
    flex-direction: column;
    font-size: 14px;
    color: #5A5A5A;
}

.ft-rt{
    display: flex;
    flex-direction: column;
    padding-top: 150px;
    padding-left: 150px;
}
